<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>_mb</title>
  </head>
  <body style="height: 100%; padding: 0; margin: 0; display: flex; align-items: center; justify-content: center">
      <h1 style="font-size: 20px; font-weight: bold; color: black; text-transform: uppercase; margin: 0">Olá, {{ip}}</h1>
  </body>
</html>